version: 2

jobs:
  build:
    docker:
      # The image used to build our project, build
      # your own using the Dockerfile provided below
      # and replace here. I put my own image here for
      # the example.
      # - image: abronan/rust-circleci:latest
      - image: liuchong/rustup:all

    environment:
      # Set your codecov token if your repository is private.
      #CODECOV_TOKEN: <your-token>
      #TZ: "/usr/share/zoneinfo/Europe/Paris"

    steps:
      - checkout
      - restore_cache:
          key: project-cache
      # - run:
      #     name: Check formatting
      #     command: |
      #       rustfmt --version
      #       cargo fmt -- --write-mode=diff
      - run:
          name: Nightly Build
          command: |
            rustup run nightly rustc --version --verbose
            rustup run nightly cargo --version --verbose
            rustup run nightly cargo build --release
      - run:
          name: Stable Build
          command: |
            rustc --version --verbose
            cargo --version --verbose
            cargo build --release
      - run:
          name: Test
          command: cargo test
      - save_cache:
          key: project-cache
          paths:
            - "~/.cargo"
            - "./target"